node_modules
.DS_Store

dist/

dist-ssr
*.local
count.txt
.vscode/
.nitro
.tanstack
raw/
.venv
venv/*
__pycache__/*
__pycache__*
*.pem
*.log
*.db
*.sqlite3
*.__pycache__
.history/
letsencrypt/acme.json
