node_modules
.DS_Store

dist-ssr
*.local
count.txt
.vscode/
.nitro
.tanstack
raw/
.venv
venv/*
__pycache__/*
__pycache__*
*.pem
*.log
*.db
*.env
*.sqlite3
*.__pycache__
.history/
letsencrypt/acme.json
back-end/src/src.zip
*.com.json
*.zip