{
    email mykyta.formal@gmail.com
}

{$PROJECT_DOMAIN:localhost} {

    tls /etc/caddy/cert.pem /etc/caddy/key.pem
    
    handle /api* {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:80
    }
}