# ==========================================
# OpenPlaylist DonateX Bot Configuration
# ==========================================

MODE="dev"
RABBITMQ_URL="amqp://guest:guest@rabbitmq:5672/"

DONATEX_CLIENT_ID="your_donatex_client_id"
DONATEX_CLIENT_SECRET="your_donatex_client_secret"
